:host {
  margin: 0 8px 16px;
  height: 300px;
  width: 260px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

:host:last-child {
  margin-right: 0;
}

.coupon-photo {
  width: 100%;
  height: 200px;
  background-color: #a1a1a1;
}

.coupon-info {
  display: grid;
  grid-template-areas: 
  "name name name like"
  "desc desc exp exp";
  grid-column-gap: 10px;
  padding: 10px 10px 5px;
  border-bottom: 1px solid #f2f2f2;
 
  & :nth-child(even) {
    text-align: end;
  }
}

.purchase-info {
  padding: 8px 10px 0;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 10px;
}

.clickable {
  cursor: pointer;
}

.expires-in {
  grid-area: exp;
  padding-top: 7px;
  font-size: 12px;
  color: #d2d2d2;
}

.description {
  grid-area: desc;
  padding-top: 7px;
  font-size: 14px;
  color: #b8b8b8;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.name {
  grid-area: name;
  font-size: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.like-button {
  grid-area: like;
}
  
.price {
  font-size: 20px;
  font-weight: bold;
}

.add-to-cart-button {
  text-align: center;
  border: 1px solid #bbbbbb;
  color: #999999;
}

i {
  color: #b2b2b2;
}
