<div class="menu">
  <i class="fas fa-bars fa-2x"></i>
</div>
<div class="logo"><a class="clickable-title" routerLink="home">Logo</a></div>
<div class="spacer"></div>
<div class="like-button">
  <i class="fas fa-heart"></i>
</div>
<div class="cart">
  <a routerLink="/checkout"><i class="fas fa-shopping-cart"></i></a>
</div>
<ng-container *ngIf="getSelectedCouponsAmount() as amount">
  <span>({{ amount }})</span>
</ng-container>
<div class="access-links">
  <ng-container *ngIf="isLoggedIn(); else anonymous">
    <a class="clickable-title">{{ getLoggedInUserName() }}</a> |
    <a class="clickable-title" (click)="logout()">Logout</a>
  </ng-container>
  <ng-template #anonymous>
    <a class="clickable-title" routerLink="login">Login</a> |
    <a class="clickable-title" routerLink="signup">Sign up</a>
  </ng-template>
</div>
