<div class="coupon-photo"></div>
<div class="coupon-info">
  <div class="name">
    {{ coupon?.name }}
  </div>
  <div class="like-button clickable">
    <i class="fas fa-heart"></i>
  </div>
  <div class="description">
    {{ coupon?.description }}
  </div>
  <div class="expires-in">Expires in {{ coupon?.daysBeforeExpiration }} days</div>
</div>
<div class="purchase-info">
  <div class="price">
    {{ coupon?.price | currency: "USD" }}
  </div>
  <div class="add-to-cart-button clickable">Add to cart</div>
</div>
