/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
}

a.clickable-title {
  text-decoration: none;
  cursor: pointer;
  color: #000000;
}

button {
  border: 1px solid lightgray;
  background-color: white;
  cursor: pointer;

  &[disabled] {
    background-color: grey;
    color: white;
  }

  &.green {
    background-color: rgb(133, 201, 133);
    color: white;
    border: none;
  }
}
