<div class="signup-panel">
  <div class="header">Register</div>
  <form [formGroup]="userData">
    <div class="fields-group">
      <div *ngIf="userData.controls.login as login">
        <div class="label">Login:</div>
        <input type="text" formControlName="login" />
        <div class="error-message" *ngIf="login.invalid && login.touched">
          {{ login.errors.forbiddenChars.message }}
        </div>
      </div>

      <div *ngIf="userData.controls.firstName as firstName">
        <div class="label">First Name:</div>
        <input type="text" formControlName="firstName" />
        <div
          class="error-message"
          *ngIf="firstName.invalid && firstName.touched"
        >
          {{ firstName.errors.forbiddenChars.message }}
        </div>
      </div>

      <div *ngIf="userData.controls.password as password">
        <div class="label">Password:</div>
        <input type="password" formControlName="password" />
        <div class="error-message" *ngIf="password.invalid && password.touched">
          {{ password.errors.weakPassword.message }}
        </div>
      </div>

      <div *ngIf="userData.controls.repeatPassword as repeatPassword">
        <div class="label">Repeat Password:</div>
        <input type="password" formControlName="repeatPassword" />
        <div
          class="error-message"
          *ngIf="repeatPassword.invalid && repeatPassword.touched"
        >
          {{ repeatPassword.errors.passwordsDiffer?.message }}
        </div>
      </div>

      <div *ngIf="userData.controls.email as email">
        <div class="label">E-mail:</div>
        <input type="text" formControlName="email" />
        <div class="error-message" *ngIf="email.invalid && email.touched">
          Enter a valid e-mail
        </div>
      </div>

      <div>
        <div class="label">Address:</div>
        <input type="text" formControlName="address" />
      </div>
    </div>

    <div class="buttons-container">
      <button>Cancel</button>
      <button
        type="button"
        [disabled]="userData.invalid"
        [class.green]="userData.valid || userData.untouched"
        (click)="submit()"
      >
        Sign up
      </button>
    </div>
  </form>
</div>
